<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <appSettings>
    <!--文件临时文件夹 绝对路径-->
    <add key="AudioAbsoluteFolderTemp" value="D:\IISLocalServer\audios\temp" />
    <!--文件正式文件夹 绝对路径-->
    <add key="AudioAbsoluteFolderFinal" value="D:\IISLocalServer\audios\audio" />
 
    <!--文件临时文件夹 相对路径-->
    <add key="AudioRelativeFolderTemp" value="http://iislocalserver.lab.com:90/audio/temp"/>
    <!--文件正式文件夹 相对路径-->
    <add key="AudioRelativeFolderFinal" value="http://iislocalserver.lab.com:90/audio/audio"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
